## 고려대학교 빅데이터 청년인재 07.05 실습과제(조성표)

## Exercise 82: Taxi Fare

In [6]:
import math
def taxi_fare(kilo):
    fare = 4 + 0.25*(math.ceil(1000*kilo/140))
    print('Total Taxi fare is ${:.2f}'.format(fare))

In [7]:
taxi_fare(1)

Total Taxi fare is $6.00

In [8]:
taxi_fare(10)

Total Taxi fare is $22.00

## Exercise84: Median of Three Values

In [12]:
def median_three():
    a = int(input('First value: '))
    b = int(input('Second value: '))
    c = int(input('Third value: '))
    value_list = sorted([a,b,c])
    return value_list[1]

In [13]:
median_three()

First value: 6
Second value: 27
Third value: 18

18

## Exercise 85: Convert an Integer to its Ordinal Number

In [14]:
def convert_to_ordinal(num):
    ordinals = {1:'first', 2:'second', 3:'third', 4:'fourth', 5:'fifth', 6:'sixth', 7:'seventh', 8:'eighth',
               9:'nineth', 10:'tenth', 11:'eleventh', 12:'twelveth'}
    if 0 < int(num) < 13:
        return ordinals[int(num)]
    else:
        return ''

In [15]:
convert_to_ordinal(10)

'tenth'

In [17]:
convert_to_ordinal(13)

''

In [18]:
# Main Program
for i in range(1,13):
    print(i, convert_to_ordinal(i))

1 first
2 second
3 third
4 fourth
5 fifth
6 sixth
7 seventh
8 eighth
9 nineth
10 tenth
11 eleventh
12 twelveth

## Exercise88: Is it a Valid Triangle

In [81]:
def form_triangle(x,y,z):
    tri_list = [x,y,z]
    longest = max(tri_list)
    tri_list.remove(longest)
    return longest < sum(tri_list)

In [82]:
form_triangle(6,2,2)

False

In [83]:
form_triangle(6,6,6)

True

In [84]:
# Program
x = int(input())
y = int(input())
z = int(input())
if form_triangle(x,y,z) == False:
    print("The triangle can't be formed")
else:
    print("The triangle can be formed")

2
6
6
The triangle can be formed

## Exercise 92: Is a Number Prime?

In [76]:
def is_prime(a):
    return len([str(x) for x in range(1,a+1) if a%x==0]) == 2

In [77]:
is_prime(7)

True

In [78]:
is_prime(11)

True

In [79]:
is_prime(28)

False

In [86]:
# Main Program
a = int(input())
if is_prime(a):
    print('It is a Prime Number!')
else:
    print('It is not a Prime Number!')

23
It is a Prime Number!

# 심화문제
## Exercise 86:The Twelve Days of Christmas

In [105]:
days = (('first', 'A Partridge in a pear tree'),
   ('second', 'Two turtle doves'),
   ('third', 'Three french hens'),
   ('fourth', 'Four calling birds'),
   ('fifth', 'Five golden rings'),
   ('sixth', 'Six geese a laying'),
   ('seventh', 'Seven swans a swimming'),
   ('eighth', 'Eight maids a milking'),
   ('ninth', 'Nine ladies dancing'),
   ('tenth', 'Ten lords a leaping'),
   ('eleventh', 'Eleven pipers piping'),
   ('twelfth', '12 drummers drumming'))

def twelve_days(day):
    print('On the',days[day-1][0],'day of Christmas\nmy true love sent to me:')
    for i in range(day-1,-1,-1):
        if day == 1:
            print(days[0][1], end='.\n\n')
        elif day != 1 and i == 0:
            print('And a patridge in a pear tree.','\n')
        else:
            print(days[i][1], end=',\n')

In [110]:
twelve_days(4)

On the fourth day of Christmas
my true love sent to me:
Four calling birds,
Three french hens,
Two turtle doves,
And a patridge in a pear tree.

In [111]:
for x in range(1,13):
    twelve_days(x)

On the first day of Christmas
my true love sent to me:
A Partridge in a pear tree.

On the second day of Christmas
my true love sent to me:
Two turtle doves,
And a patridge in a pear tree.

On the third day of Christmas
my true love sent to me:
Three french hens,
Two turtle doves,
And a patridge in a pear tree.

On the fourth day of Christmas
my true love sent to me:
Four calling birds,
Three french hens,
Two turtle doves,
And a patridge in a pear tree.

On the fifth day of Christmas
my true love sent to me:
Five golden rings,
Four calling birds,
Three french hens,
Two turtle doves,
And a patridge in a pear tree.

On the sixth day of Christmas
my true love sent to me:
Six geese a laying,
Five golden rings,
Four calling birds,
Three french hens,
Two turtle doves,
And a patridge in a pear tree.

On the seventh day of Christmas
my true love sent to me:
Seven swans a swimming,
Six geese a laying,
Five golden rings,
Four calling birds,
Three french hens,
Two turtle doves,
And a patridge in a pear tree.

On the eighth day of Christmas
my true love sent to me:
Eight maids a milking,
Seven swans a swimming,
Six geese a laying,
Five golden rings,
Four calling birds,
Three french hens,
Two turtle doves,
And a patridge in a pear tree.

On the ninth day of Christmas
my true love sent to me:
Nine ladies dancing,
Eight maids a milking,
Seven swans a swimming,
Six geese a laying,
Five golden rings,
Four calling birds,
Three french hens,
Two turtle doves,
And a patridge in a pear tree.

On the tenth day of Christmas
my true love sent to me:
Ten lords a leaping,
Nine ladies dancing,
Eight maids a milking,
Seven swans a swimming,
Six geese a laying,
Five golden rings,
Four calling birds,
Three french hens,
Two turtle doves,
And a patridge in a pear tree.

On the eleventh day of Christmas
my true love sent to me:
Eleven pipers piping,
Ten lords a leaping,
Nine ladies dancing,
Eight maids a milking,
Seven swans a swimming,
Six geese a laying,
Five golden rings,
Four calling birds,
Three french hens,
Two turtle doves,
And a patridge in a pear tree.

On the twelfth day of Christmas
my true love sent to me:
12 drummers drumming,
Eleven pipers piping,
Ten lords a leaping,
Nine ladies dancing,
Eight maids a milking,
Seven swans a swimming,
Six geese a laying,
Five golden rings,
Four calling birds,
Three french hens,
Two turtle doves,
And a patridge in a pear tree.

## 89. Capitalize It

## Exercise 90: Does a String Represent an Integer?

## Exercise 93: Next Prime

아래의 nextPrime_temp 함수를 실행하면 n이 소수일 경우, 그 소수가 그대로 표시되는 문제가 있습니다. 그래서 이를 보완한 nextPrime 함수를 만들었습니다.

In [39]:
def nextPrime_temp(n):
    while len([x for x in range(1,n+1) if n%x==0]) != 2:
        n += 1
        nextPrime_temp(n)
    else:
        return n

print(nextPrime_temp(7))
print(nextPrime_temp(20))

7
23

In [36]:
def nextPrime(num):
    if len([x for x in range(1,num+1) if num%x==0]) != 2: # if the input is not a prime number
        return nextPrime_temp(num)
    else: # if the input is a prime number
        return nextPrime_temp(num+1)

In [37]:
nextPrime(7)

11

In [40]:
# Main Program
num = int(input('Input Number: '))
print('Next Prime Number: ',nextPrime(num))

Input Number: 23
Next Prime Number:  29

## Exercise 96: Check a Password

In [66]:
def check_password(p):
    if len(p) < 8 or p.islower() or p.isupper() or p.isdigit() or p.isalpha():
        return False
    else:
        return True

In [70]:
check_password('ABSDDFSDFS423') # no lowercase letters

False

In [71]:
check_password('Password96')

True

In [72]:
check_password('Pas13') # only 5 characters

False

In [75]:
# Main Program
p = input('Enter Password: ')
if check_password(p)==True:
    print('Good Password!')
else:
    print('Bad Passowrd!')

Enter Password: wejripo35Po
Good Password!