## 고려대학교 빅데이터 청년인재 07.04 실습과제(조성표)

### Exercise61:Average

In [3]:
list_61 = list()
count = 0
while True:
    a = input("정수를 입력하세요: ")
    try:
        num = int(a)
        if int(a) is 0:
            if count is 0:
                print('Error! 첫번째 숫자는 0을 입력하면 안됩니다.')
            else:
                print(sum(list_61) / count)
                break
        list_61.append(num)
        count += 1
    except:
        print('숫자만 입력해주세요!')

정수를 입력하세요: 가나
숫자만 입력해주세요!
정수를 입력하세요: 0
Error! 첫번째 숫자는 0을 입력하면 안됩니다.
정수를 입력하세요: 6
정수를 입력하세요: 8
정수를 입력하세요: 36
정수를 입력하세요: 243
정수를 입력하세요: -63
정수를 입력하세요: 0
38.333333333333336

## Exercise63:TemperatureConversionTable

In [16]:
import pandas as pd
c_list = list(range(0, 101, 10))
f_list = [x*1.8+32 for x in range(0, 101, 10)]

d = {'Celcius':c_list, 'Farenheit':f_list}
df = pd.DataFrame(d)
df

    Celcius  Farenheit
0         0       32.0
1        10       50.0
2        20       68.0
3        30       86.0
4        40      104.0
5        50      122.0
6        60      140.0
7        70      158.0
8        80      176.0
9        90      194.0
10      100      212.0

## Exercise66:Compute a Grade Point Average

In [21]:
grade_dic = {'A+': 4.5, 'A': 4, 'B+': 3.5, 'B': 3, 'C+': 2.5, 'C': 2, 
             'D+': 1.5, 'D': 1, 'F': 0,}
grade_list = []
while True:
    grade = input('Input Grade by alphabet: ')
    if grade is '':
        print('이번학기 평균학점:', sum(grade_list) / len(grade_list))
        break
    elif grade in grade_dic:
        grade_list.append(grade_dic[grade])

Input Grade by alphabet: A+
Input Grade by alphabet: A+
Input Grade by alphabet: A
Input Grade by alphabet: A
Input Grade by alphabet: B+
Input Grade by alphabet: B
Input Grade by alphabet: C
Input Grade by alphabet:
이번학기 평균학점: 3.642857142857143

## Exercise67:AdmissionPrice

In [9]:
price_dic = {'Babies': 0.00, 'Children': 14.00, 'Adult': 23.00, 'Senior': 18.00}
price_list = []
while True:
    age_input = input('Input age of the guests: ')
    if age_input is '':
        print('Admission cost for the group is {:.2f}$'.format(sum(price_list)))
        break
    try:
        age = int(age_input)
        if 0 <= age <= 2:
            price_list.append(price_dic['Babies'])
        elif 3 <= age <= 12:
            price_list.append(price_dic['Children'])
        elif 13 <= age <= 64:
            price_list.append(price_dic['Adult'])
        else:
            price_list.append(price_dic['Senior'])
    except:
        print('Please enter right numbers(age)')

Input age of the guests: 6
Input age of the guests: 25
Input age of the guests: 15
Input age of the guests: 73
Input age of the guests: 45
Input age of the guests: 37
Input age of the guests: 26
Input age of the guests:
Admission cost for the group is 147.00$

## Exercise72:Is a String a Palindrome?

In [29]:
def is_palindrome(word):
    word = word.lower()
    if list(word) == list(reversed(word)):
        print('Yes! It is a palindrome!')
    else:
        print('No! Try again.')

In [30]:
is_palindrome('level')

Yes! It is a palindrome!

## Exercise74:MultiplicationTable

In [64]:
for i in range(0,11):
    if i == 0:
        print(' ', ' '.join(map(str, [x for x in range(1,11)])), '\n')
    else: 
        y = ' '.join(map(str, [i*x for x in range(1,11)]))
        print(i, y, '\n')

  1 2 3 4 5 6 7 8 9 10

1 1 2 3 4 5 6 7 8 9 10

2 2 4 6 8 10 12 14 16 18 20

3 3 6 9 12 15 18 21 24 27 30

4 4 8 12 16 20 24 28 32 36 40

5 5 10 15 20 25 30 35 40 45 50

6 6 12 18 24 30 36 42 48 54 60

7 7 14 21 28 35 42 49 56 63 70

8 8 16 24 32 40 48 56 64 72 80

9 9 18 27 36 45 54 63 72 81 90

10 10 20 30 40 50 60 70 80 90 100

## Exercise75:GreatestCommonDivisor

In [67]:
def gcd(n,m):
    d = min(n,m)
    while m%d!=0 or n%d!=0:
        d -= 1
    return d

In [71]:
gcd(25,65)

5

## Exercise77:BinarytoDecimal

In [96]:
def to_decimal(binary):
    bin_string = str(binary)
    rev = list(reversed(bin_string))
    result = list()
    for i in range(len(rev)):
        result.append(int(rev[i]) *(2 ** i))
    return sum(result)

In [97]:
to_decimal(1110)

14

## Exercise78:DecimaltoBinary

재귀적 방법을 쓴 것에 주의하자.

In [90]:
def to_binary(q):
    if q > 1:
        to_binary(q//2)
    print(q % 2, end='')
    
to_binary(100)

1100100